.calendar {
  background-color: #fff;
  padding: 1em 0 3em 0;

  h1 {
    color: $color-codeclub-green;
    font-size: 1.7em;
    margin: 1em 0 0.5em 0;

    @media (min-width: $screen-sm-min) {
      font-size: 2em;
      text-align: center;
    }
  }

  h2 {
    font-family: inherit;
    font-size: 1.2em;
    margin: 0 0 0.5em 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.calendar__item {
  @extend .row;
}

.calendar__item__date {
  @extend .col-sm-4;
  padding-top: 2em;

  @media (min-width: $screen-sm-min) {
    text-align: center;
    padding-bottom: 2em;
  }
}

.calendar__item__info {
  @extend .col-sm-8;
  padding-top: 1em;

  @media (min-width: $screen-sm-min) {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  @media (min-width: $screen-md-min) {
    h2 {
      font-size: 1.4em;
    }

    p {
      font-size: 1.1em;
    }
  }
}

.date {
  text-align: center;
  display: inline-block;
  background-color: $color-codeclub-green;
  color: #fff;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  font-size: 0.8em;

  @media (min-width: $screen-sm-min) {
    font-size: 1em;
    padding: 1em 1.5em;

    & > * {
      display: block;
    }
  }
}

.date__important {
  @media (min-width: $screen-md-min) {
    font-size: 1.2em;
  }
}
