---
layout: default
---
<div class="project-header">
  <div class="container">
      <a href="{{ site.baseurl }}/" class="logo">Liverpool Code Club</a>
      <h1>{{ page.title }}</h1>
  </div>
</div>
<div class="{{ page.container_class | default: "project-steps" }}">
  <div class="container">
    {{ content }}
  </div>
</div>
<div class="project-info">
  <div class="container">
    <p class="project-info__authors">
      {% if page.authors %}
        {{ page.authors }}
      {% else %}
        Projects designed and written by
        <a href="https://twitter.com/huffeec" rel="author">Chris Huffee</a>
        &amp;
        <a href="https://twitter.com/zarino" rel="author">Zarino Zappia</a>
      {% endif %}
    </p>
    <p class="project-info__rights"><a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></p>
  </div>
</div>
